<form #usrForm="ngForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" required [(ngModel)]="user.email" #email="ngModel" name="email" class="form-control"
            id="exampleInputEmail1" aria-describedby="emailHelp">
        @if(email?.touched && email?.invalid) {
        @if(email?.errors?.['required']){ <small>Email is required</small> }
        }
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" required [(ngModel)]="user.password" #password="ngModel" name="password"
            class="form-control" id="exampleInputPassword1">
        @if(password?.touched && password?.invalid) {
        @if(password?.errors?.['required']){ <small>Password is required</small> }
        }
    </div>
    <button type="submit" [disabled]="!usrForm.valid" class="btn btn-primary">Submit</button>

</form>